<%- include('templates/header'); -%>
<div class='container'>
    <div class='jumbotron'>
        <h1> Book Search</h1>
        <form action='/results' method='GET'>
            <input text='type' name='isbn' placeholder='search for book'>
            <button class='btn btn-info'>Search</button>
        </form>
    </div>
</div>
<%- include('templates/footer'); -%>