<%- include('templates/header'); -%>
<div class='container'>
    <div class='jumbotron'>
        <h1> Search Results</h1>
        <button class='btn btn-info' onclick='location.href="/"'>Search Again</button>
        <ul>
            <% data.authors.forEach(function(author){ %>
            <li>
                <img src=<%=author.name%> />
                <div>
                    
                </div>
            </li>
            <% }) %>
        </ul>
    </div>
</div>
<%- include('templates/footer'); -%>